<% include partials/header %>
  <div id="intro" style="float: left; width: 50%; border-right: 2px solid #000">
    <h2><%= welcomeMessage %></h2>
    <p><%= introMessage %></p>
    <ul>
      <% products.forEach(function(product) { %>
        <li><%= product.name %></li>
      <% }); %>
    </ul>
  </div>
  <div id="chat" style="float: right; width: 48%;">
    <% if(userResponse !== '') {
      userResponse.forEach(function(response) { %>
        <p>User: <%= response %></p>
      <% });
    } %>
    <% if(botResponse !== '') {
      botResponse.forEach(function(response){ %>
        <p>Bot: <%= response %></p>
      <% });
     } %>
    <form class="" action="/userResponse/send" method="post">
      <input type="text" name="userMessage" placeholder="Type your message...">
      <input type="submit" name="btnSubmit">
    </form>
  </div>
<% include partials/footer %>
